{% extends "base.html" %}
{% block title %}Visits{% endblock %}
{% block content %}
    <div class="container mt-2">
        <table class="table table-striped table-hover" id="visits">
            <thead>
            <tr>
                <th>ID</th>
                <th>Shortlink</th>
                <th>IP Address</th>
                <th>User Agent</th>
                <th>Country</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block userscripts %}
    <script>
        $(document).ready(function () {
            $('#visits').DataTable({
                "order": [[0, "desc"]],
                "ajax": '/visits/data',
                "serverSide": true,
                "columns": [
                    {data: "id", orderable: false, searchable: false, visible: false},
                    {data: "shortlink.short_url", orderable: false},
                    {data: "ip_address", orderable: false},
                    {data: "user_agent", orderable: false, width: "40%"},
                    {data: "country_name", orderable: false}
                ]
            });
        });
    </script>
{% endblock %}